<div class="main-container"  *ngIf="books && books.length > 0" >
    <div class="chart-container">
        <canvas id="donutChart"></canvas>
        <h2>Total Books in Library: {{totalBooksInLib}}</h2>
    </div>

    <div class="books-container">
        <h1>New Releases</h1>
        <div class="book-list">
            <div *ngFor="let book of books" class="book">
                <img [src]="book.coverImageUrl" alt="{{ book.title }} Cover">
                <h3>{{ book.title }}</h3>
                <p>{{ book.author }}</p>
            </div>
        </div>
    </div>
</div>

<!-- If No Books in Library -->
<div class="noBooks" *ngIf="!books || books.length <= 0">
    <img src="../../../../assets/images/crying-book.png">
  </div>
