<div class="outer">

  <!-- Search Bar -->
  <div class="search-container">
    <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" class="search-input" (input)="filterBooks()" />
  </div>

  <div class="container" *ngIf="books && books.length > 0">
    <div *ngFor="let book of filteredBooks" class="book" data-bs-toggle="modal" data-bs-target="#bookDetailsModal"
      (click)="openDetailsModal(book)">
      <img [src]="book.coverImageUrl" alt="{{ book.title }} Cover">
      <h3>{{ book.title }}</h3>
      <p>{{ book.author }}</p>
    </div>
  </div>

  <!-- If No Books in Library -->
  <div class="noBooks" *ngIf="!books || books.length <= 0">
    <img src="../../../../assets/images/crying-book.png">
  </div>
  
</div>